.site-footer .site-info a {color:#8b8b8b;}
@media (min-width: 1300px) {
	#qnb {display:block;}
}
@media (max-width: 1170px) {
	body {
		overflow-x: hidden;
	}
	.store-container {
		/*padding: 0 10px;*/
	}
	.top-header .store-container {
		padding: 0 30px 0 10px;
	}
	.home .add-to-links {
		padding-left: 30px;
	}
}
@media (max-width: 1024px) {
	.top-header .top-navigation {
		width:auto;
	}
	.top-header .top-navigation ul li a {
		padding-left: 8px;
	}
	.top-header .top-navigation ul li {
		margin-right: 8px;
	}
	.site-footer .footer-widgets .footer-widget-1 {
		float: left;
		width: 100%;
	}
	.site-footer .footer-widgets .footer-widget-2,
	.site-footer .footer-widgets .footer-widget-3,
	.site-footer .footer-widgets .footer-widget-4,
	.site-footer .footer-widgets .footer-widget-5 {
		float: left;
		margin-right: 3%;
		padding-top: 35px;
		width: 22%;
		margin-left: 0;
	}
	.widget_storevilla_contact_info_area ul li {
		width: auto;
	}
	.our-features-box .feature-box {
		text-align: center;
	}
	.our-features-box .feature-box span,
	.our-features-box .feature-box .content {
		display: block;
	}
	.our-features-box .feature-box span {
		margin:0 auto 15px;
	}
	.our-features-box .feature-box .content h3 {
		margin-bottom: 5px;
	}
	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce .cart-collaterals .cross-sells {
		width: 100%;
	}
	.bothsidebar #secondaryright {
		display: none;
	}
	.bothsidebar .store-container-inner {
		padding-right: 100px;
	}
}
@media (max-width: 800px) {
	.widget_storevilla_latest_product_cat_widget_area .latest-product-slider li .item-img a.product-image img,
	.widget_storevilla_product_widget_area .store-product li .item-img a.product-image img,
	.widget_storevilla_cat_with_product_widget_area .product-cat-slide li .item-img a.product-image img {
		width: 100%;
	}
}
@media (min-width: 769px) {
	.main-navigation ul {
		display: block !important;
	}
	#m_onb {
		display:none;
	}
}
@media (max-width: 768px) {
	.w_view {
		padding:20px 35px;
	}
	.w_view > h2 {
		margin:35px auto;
		font-size:30px;
		line-height:1.3;
	}
	.w_child .wall-column, .w_child article {
		width:48%;
	}
	.w_header_cat {
		width:80%;
		float:left;
		margin:0 0 0 15px;
	}
	.w_header_cat li {
		margin-bottom:3px;
	}
	.woocommerce #content div.product div.images, .woocommerce #content div.product div.summary, .woocommerce div.product div.images, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.images, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.images, .woocommerce-page div.product div.summary {
		width:100% !important;
	}
	#primary {
		width:66%;
	}
	#primary, #secondaryleft {
		padding-top:30px;
	}
	#secondaryleft {
		width:180px;
	}
	#secondaryleft .mc-field-group input {
		font-size:11.5px;
		letter-spacing:-1px;
	}
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product,
	.woocommerce-page[class*="columns-"] ul.products li.product,
	.woocommerce[class*="columns-"] ul.products li.product {
		width: 48%;
	}
	.sv_search_form input[type="text"] {
		width:143px;
	}
	.store-container-inner {
		padding:0 25px;
	}
	.site-content .slider-wrapper {
		width: 100%;
		margin-bottom: 14px;
	}
	.site-content .banner-header-promo {
		float: left;
		width: 100%;
	}
	.site-content .banner-header-promo .store-promo-wrap {
		width: 49%;
		float: left;
		margin-bottom: 0;
	}
	.site-content .banner-header-promo div:last-child {
		float: right;
	}
	.widget_storevilla_cat_with_product_widget_area .left_align .home-block-inner,
	.widget_storevilla_cat_with_product_widget_area .right_align .home-block-inner {
		width: 100%;
		border-right: 1px solid #eeeeee;
	}
	.widget_storevilla_cat_with_product_widget_area .product-cat-slide .home-block-inner {
		height: 310px;
	}
	.widget_storevilla_cat_with_product_widget_area .left_align .lSSlideOuter,
	.widget_storevilla_cat_with_product_widget_area .right_align .lSSlideOuter {
		float: left;
		width: 100%;
	}
	.widget_storevilla_cat_with_product_widget_area .product-cat-slide li .item-img a.product-image {
		width: 100%;
	}
	.site-footer .footer-widgets .footer-widget-2,
	.site-footer .footer-widgets .footer-widget-3,
	.site-footer .footer-widgets .footer-widget-4,
	.site-footer .footer-widgets .footer-widget-5 {
		width: 100%;
	}
	.home .header-wrap, .header-wrap {
		padding:10px 0 0 0;
		text-align: center;
	}
	.header-wrap .site-branding,
	.header-wrap .search-cart-wrap {
		float: none;
	}
	.header-wrap .search-cart-wrap .advance-search,
	.header-wrap .search-cart-wrap .site-header-cart {
		float: none;
		display: inline-block;
	}
	/*
	===============================
	css for responsive navigation
	===============================
	*/
	.top-header .store-container {
		padding:0;
	}
	.main-navigation {
		width:auto !important;
		float:none;
		text-align:left;
		margin:0;
		position:absolute;
		top:0;
		left:-2px;
		z-index;999;
	}
	.main-navigation ul {
		position: absolute;
		top: 40px;
		display: none;
		left:0;
		width:300px;
		padding:10px 0 15px;
		z-index: 999999;
		background: #fff;
		text-align:left;
		border: 1px solid #cbcbcb;
	}
	.main-navigation ul li {
		width: 100%;
		margin: 0;
	}
	.main-navigation ul li a {
		color: #0091D5;
		padding:15px 30px 5px;
	}
	.main-navigation .menu-toggle {
		display: inline-block;
		height: 30px;
		position: relative;
		vertical-align: middle;
		width: 30px;
	}
	.main-navigation .menu-toggle > span {
		background: #f06363; none repeat scroll 0 0;
		bottom: 0;
		display: block;
		height: 3px;
		left: 0;
		margin: auto;
		position: absolute;
		top: 0;
		transition: all 0.3s ease 0s;
		width: 100%;
		border-radius: 3px;
	}
	.main-navigation .menu-toggle > span:before,
	.main-navigation .menu-toggle > span:after {
		background-color: #f06363;
		content: "";
		height: 3px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		transition: all 0.3s ease 0s;
		width: 100%;
		border-radius: 3px;
	}
	.main-navigation .menu-toggle > span:before {
		top: -8px;
	}
	.main-navigation .menu-toggle > span:after {
		bottom: -8px;
	}

	.main-navigation li.menu-item-has-children::before {
		color: #0091D5;
		line-height: 34px;
	}
	.main-navigation ul ul.sub-menu {
		display: block;
		opacity: 1;
		visibility: visible;
		position: static;
		border:none;
		box-shadow: none;
		background:none;
		padding:0 0 0 20px;
		width: 100%;
	}
	.main-navigation ul ul li a {
		width: 100% !important;
		padding-left: 20px !important
	}
	.site-content .store-villa-banner {
		padding: 10px 0 0;
	}
	.widget_storevilla_contact_info_area ul li {
		width: 100%;
		margin:0 auto 10px;
	}
	/*
	=================
	top navigation
	=================
	*/
	.top-header {
		text-align: center;
	}
	.top-header .top-navigation {
		padding-right:10px;
		width: 100%;
		border-bottom:1px solid #ececec;
	}
	.top-header .top-navigation {
		float: none !important;
		display: inline-block;
	}
	.top-header .top-header-regin {
		float: none !important;
		overflow:hidden;
		display: block;
		height:38px;
		background-color:#fcfcfc;
	}
	.top-header .top-header-regin ul {
		display:inline-block;
		height:38px;
	}
	.top-header .top-navigation ul li {
		display: inline-block;
		float: none;
	}
	/*inner pages*/
	.rightsidebar #primary {
		width: 100%;
		float: none;
	}
	.rightsidebar #secondaryright {
		float: none;
		width: 100%;
		padding: 0;
	}
	/*
	plugins css
	*/
	.apss-theme-3 .apss-single-icon {
		width: auto;
	}
	/*table*/
	.status-publish .product-quantity .quantity {
		overflow: hidden;
	}
	.status-publish .actions {
		text-align: center;
	}
	.status-publish .actions .coupon {
		text-align: center;
	}
	.status-publish .actions .coupon .input-text {
		width: 100% !important;
		margin-bottom: 10px !important;
	}
	.status-publish .actions .button {
		float: none !important;
		margin: 0 auto !important;
		width: 100% !important;
	}
	.woocommerce-page tr.cart_item td.product-name {
		padding: 20px 10px !important;
		width: 100%;
	}
	.bothsidebar .store-container-inner {
		padding-left: 0;
		padding-right: 0;
	}
	.bothsidebar #secondaryleft {
		float: left;
		width: 100%;
		margin-left: 0;
	}
	.widget_storevilla_column_product_widget_area .column-wrap .col-product-area-one {
    	text-align: center;
	}
	.widget_storevilla_column_product_widget_area .column-wrap .col-product-area-one .item-img,
	.widget_storevilla_column_product_widget_area .column-wrap .col-product-area-one .block-item-title,
	.widget_storevilla_column_product_widget_area .column-wrap .col-product-area-one .product-price-wrap {
		display: block;
		float: none;
	}
	.widget_storevilla_column_product_widget_area .column-wrap .col-product-area-one .block-item-title {
		margin-left: 0;
		width: 100%;
	}
	.widget_storevilla_column_product_widget_area .column-wrap .col-product-area-one .item-img {
		width: 60%;
		margin:0 auto;
	}
	.widget_storevilla_column_product_widget_area .column-wrap .col-product-area-one .product-price-wrap {
		margin-left: 0;
	}
	.widget-area .widget_storevilla_column_product_widget_area .column-wrap {
		width: 100%;
	}
	.widget-area .widget_storevilla_column_product_widget_area .column-wrap .col-product-area-one {
		text-align: left;
	}
	.widget_storevilla_column_product_widget_area .column-wrap .col-product-area-one .item-img {
		float: left;
		width: 20%;
	}
	.widget_storevilla_column_product_widget_area .column-wrap .col-product-area-one .block-item-title {
		float: left;
		width: 75%;
		margin-left: 5%;
	}
	.widget_storevilla_column_product_widget_area .column-wrap .col-product-area-one .product-price-wrap {
		float: left;
		margin-left: 4%;
	}
	.widget_storevilla_column_product_widget_area .column-wrap {
		padding: 0 !important;
	}
	#primary .site-main {
		padding-bottom: 15px;
	}
}
@media (max-width: 600px) {
.top-header .top-navigation ul li a {
	font-size:11px;
}
.top-header .top-navigation ul li{
	margin-right:4px;
}
.top-header .top-navigation ul li:nth-child(2) {
	display:none;
}

	.woocommerce #reviews #review_form_wrapper, .comments-area {
		padding:15px 20px 10px;
	}
.woocommerce #review_form #respond .comment-form {
	padding:75px 10px 20px;
	margin:0;
}
.woocommerce .woocommerce-tabs .comment-form-rating .stars {
	line-height:25px;
}
.woocommerce-tabs .comment-respond .comment-form-rating label {
	margin-bottom:5px;
}

.woocommerce-tabs .comment-respond .comment-form-comment {
	float:none;
	width:100%;
}
.woocommerce-tabs .comment-respond .form-submit {
	width:120px;
}
.woocommerce #respond input#submit {
	margin-top:-10px;
	height:40px;
}
.related.products ul.products {
	padding:20px 15px 0;
}
.product-button-wrap a.villa-details:before {
	content:'';
}
.top-navigation {
	text-align:right;
}
.site-content .store-villa-banner {
	width:100%;
	float:none;
}
.banner_letter .main-widget-wrap {
	float:none;
	margin:0 auto;;
	width:90%;
	padding:10px 0 0;
}
a.woocommerce-main-image {
	width:100%;
}
.w_group {
	padding:20px;
}
.w_child .wall-column, .w_child article {
	width:100%;
	float:none;
}
.w_view {padding:20px;}
.w_view > h2 {
	font-size:22px;
	line-height:1.4;
	margin:50px auto;
}
.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous,.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
	float:none;
	width:100%;
}
.w_header_cat {
	display:none;
}
.comments-area {
	padding:15px 20px !important;
}
.comments-area .form-submit {
	float:right;
	width:80px;
}
.comments-area .comment-form-comment {
	width:100%;
}
.comments-area .form-submit input#submit {
	height:50px;
	font-size:14px;
}
#xbreadcrumb .woocommerce-breadcrumb {
	margin-left:15px;
}
.related.products ul.products {
	margin:0;
}
	.woocommerce div.product .woocommerce-tabs .panel.entry-content {
		padding:30px 20px;
	}
	.woocommerce #reviews #comments {
		padding:20px;

	}
	.woocommerce #main div.product div.summary {width:100%}
	.foot-navigation {padding:10px 20px;}
	#footer-menu li {
		margin:0 15px 0 0;
	}
	#footer-menu li a {
		font-weight:400;
	}

.site-footer .site-info {background:none;}
	.leftsidebar #secondaryleft {
		float:none;
		width:100%;
		max-width:none;
		padding:53px 20px 30px;
	}

	#primary {
		float:none;
		width:100%;
		padding:30px 20px 30px;
		max-width:none;
	}
.webzine #primary.w_list {
	padding-left:0;
	padding-right:0;
}
.w_list header.page-header {margin-left:20px;}
.w_group h2 {text-align:center;margin:0 0 17px 0;}
.w_group h2 > a {
	display: block;
    margin: 12px auto 10px;
    width: 94px;
    overflow: hidden;
}
.w_view .entry-content {
	font-size:15px;
}
.storevilla-blog .sv-post-content h3 a {
	font-size:18px;
}
.storevilla-blog .sv-post-content .description {
	margin-bottom:20px;
	font-size:13.5px;
}
.woocommerce .woocommerce-tabs p.stars a {
	margin-right:10px;
}
.woocommerce p.stars a.star-1 {
	width:1.7em;
}
.woocommerce p.stars a.star-2 {
	width:2.7em;
}
.woocommerce p.stars a.star-3 {
	width:3.7em;
}
.woocommerce p.stars a.star-4 {
	width:4.7em;
}
.woocommerce p.stars a.star-5 {
	width:5.7em;
}

.woocommerce #reviews #comments ol.commentlist li {
	margin:0;

}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
	display:none;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
	margin:0 0 10px 0;
	padding:15px;
}
	.widget_storevilla_promo_pages_area .store-container .promo-area,
	.widget_storevilla_blog_widget_area .blog-preview {
		width: 100%;
		margin-bottom:20px;
	}
	.widget_storevilla_promo_pages_area .store-text-wrap {
		float: none;
	}
	.widget_storevilla_promo_pages_area .store-container .promo-area .promo-image {
		display: inline-block;
		float: none;
	}
	.widget_storevilla_promo_pages_area .store-container .promo-area.promo-two,
	.widget_storevilla_blog_widget_area .large-blog-preview {
		width: 100%;
		margin: 0;
	}
	.widget_storevilla_promo_pages_area .store-container .promo-area.promo-two .promo-image {
		width: 100% !important;
	}
	.widget_storevilla_promo_pages_area .store-container {
		padding-bottom: 0;
		text-align: center;
	}
	.our-features-box .feature-box {
		width: 100%;
		margin-left: 0;
	}
	.our-features-box .feature-box:first-child {
		margin-left: 0;
	}
	.site-footer .footer-widgets {
		padding-bottom: 30px;
	}
	.site-footer .site-info {
		padding: 10px 20px;
		border-top:1px solid #f0f0f0;
	}
	.site-footer .payment-accept {
		float: none;
		padding: 0 0 10px;
	}
	.widget_storevilla_aboutus_info_area .about-logo {
		width: 200px;
		margin: 0 auto 10px !important;
	}
	.widget_storevilla_aboutus_info_area ul li {
		display: inline-block;
		margin-right: 5;
		margin-bottom: 5px;
	}
	.widget_storevilla_aboutus_info_area ul {
		margin: 0 auto;
		width: 150px;
	}
	.site-footer .footer-widgets .about-info {
		text-align: center;
	}
	.brand-logo-wrap .brands-logo li {
		margin: 0 -3px;
	}
	.brand-logo-wrap {
		padding: 40px 0 0;
	}

	.woocommerce-page.columns-3 ul.products li.product,
	.woocommerce.columns-3 ul.products li.product {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
@media (max-width: 480px) {
	#footer-menu li a {
		font-size:11px;
		letter-spacing: -1px;
		line-height:1;
	}
	.store-container-inner {
		padding:0 5px;
	}
	.header-wrap .search-cart-wrap .advance-search .sv_search_wrap {
		display: none;
	}
	.header-wrap .search-cart-wrap .advance-search .sv_search_form::before {
		border: none;
	}
	.header-wrap .search-cart-wrap .advance-search .sv_search_form input[type="text"], .normal-search .search-form .search-field {
		width: 300px;
	}
	.site-content .slider-wrapper ul.store-gallery li .banner-slider-info h2.caption-title {
		font-size: 16px;
		margin-bottom: 0;
	}
	.site-content .slider-wrapper ul.store-gallery li .banner-slider-info .caption-content {
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 5px;
	}
	.site-content .slider-wrapper ul.store-gallery li .banner-slider-info a.slider-button {
		padding: 5px 15px;
	}
	.widget_storevilla_cat_with_product_widget_area .product-cat-slide .home-block-inner {
		height: 370px;
	}
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product,
	.woocommerce-page[class*="columns-"] ul.products li.product,
	.woocommerce[class*="columns-"] ul.products li.product {
		width: 100%;
	}
	.widget_storevilla_column_product_widget_area .column-wrap .col-product-area-one {
		width: 100%;
	}
}
@media (max-width: 380px) {
	.woocommerce-page.columns-3 ul.products li.product,
	.woocommerce.columns-3 ul.products li.product {
		width: 100%;
	}
	.woocommerce .woocommerce-ordering select {
		width: 100%;
	}
	.woocommerce .woocommerce-ordering {
		width: 100%;
		float: left;
	}
}
